////////////////
// COLOR PALLETE
////////////////
:root {
  --primary1-c: hsl(158, 36%, 37%);
  --primary2-c: hsl(30, 38%, 92%);
  --secondary1-c: hsl(212, 21%, 14%);
  --secondary2-c: hsl(228, 12%, 48%);
}

////////////////// USED FONTS //////////////////
// font-family: 'Montserrat', sans-serif;
// font-family: 'Fraunces', serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.4rem;
  background-color: var(--primary2-c);
}

article {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.product-info {
  width: 300px;
  padding: 3.2rem;
  background-color: white;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.product-header {
  font-size: 1.3rem;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  color: var(--secondary2-c);
  margin-bottom: 2rem;
}

.product-title {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.product-description {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary2-c);
  line-height: 1.7;
  margin-bottom: 3.5rem;
}

.price {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 2.5rem;
}

.price strong {
  color: var(--primary1-c);
  font-size: 3rem;
  font-family: "Fraunces", serif;
  margin-right: 2rem;
}

.price s {
  color: var(--secondary2-c);
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary1-c);
  padding: 1.5rem 0;
  border-radius: 1rem;
  border: none;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}

.btn:hover {
  background-color: hsl(158, 36%, 27%);
  cursor: pointer;
}

.btn img {
  width: 15px;
  margin-right: 1.5rem;
}

.attribution {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  article {
    flex-direction: column;
    margin: 50px 0;
  }

  .product-info {
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
  }

  picture {
    img {
      margin-bottom: -3px;
      padding: 0;
      width: 100%;
      height: 200px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 1rem;
    }
  }
}
